* {
  background-color: #fff3d1;
}

.section-center {

  margin-top: 70px;
  text-align: center;
}

h3 {

}

input {
  width: 40px;
  padding: 5px 10px;
 border-style: solid;
  border-color: #fcba03;
}

.btn{
  width: 100px;
  padding: 10px 20px;
  background-color: #fcba03;
  border-color: none;
  border-style: none;
  border-radius: 10px;
}

.lorem-text{
  width: 600px;
  margin: 0 auto;
}
